<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture CIE</title>
     <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="invoice-container">
        <div class="invoice-header">
            <h2>Facture d’electricite basse tension n° 126</h2>
        </div>
        <div class="invoice-body">
            <div class="invoice-body-left">
                <div class="logo">
                    <img src="./logo.png" alt="Logo CIE" width="124px">
                </div>
                <div class="presentation-cie">
                    <h4 class="title">Compagnie Ivoirienne d’electricite</h4>
                    <p>
                        S.A avec Conseil d’Administration de 14 milliards de Francs CFA
                        Siège social: 1.AV.CHRISTIANI, commune de Treichville 01BP6923
                        Abidjan01 R.CC.M : CI-ABJ-1990-B-149 296 - Compte contribuable 90
                        04995 S Tel : 27.21.23.33.00 - Fax : 27.21.23.35.88
                    </p>
                    <h4>Abidjan Nord</h4>
                </div>
                <hr class="demi">
                <div class="amount-container-after">
                    <div class="amount-container">
                        <div class="amount-container-before">
                            <div class="amount">
                                <div class="amount-texts">
                                    <label for="">Montant à régler</label>
                                    <span class="value">45313<sup>FCFA</sup></span>
                                </div>
                                <div class="amount-texts">
                                    <label for="">DATE LIMITE</label>
                                    <span class="deadline">30/06/2025</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="invoice-details">
                    <div class="invoice-details-title">
                        <h3>Détails facture</h3>
                        <h5> Du <b>04/02/2024</b> Au <b>04/04/2024</b></h5>
                    </div>
                    <div class="invoice-details-sub-title">
                        <span>-</span>
                        <h3>Facture énergie de la période</h3>
                    </div>
                    <h3 class="right"> Montant <span>(FCFA)</span></h3>
                    <table>
                        <thead>
                            <th></th>
                            <th class="column center">Consommation (kWh)</th>
                            <th class="minus center"></th>
                            <th class="column center">Prix unitaire HT (FCFA / kWh)</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left">Tranche 1</td>
                                <td class="center"><b>584</b></td>
                                <td class="center" class="minus">x</td>
                                <td class="center"><b>81,43</b></td>
                                <td class="right"><b>47 320</b></td>
                            </tr>
                            <tr>
                                <td class="left">Tranche 2</td>
                                <td class="center"><b>144</b></td>
                                <td class="center" class="minus">x</td>
                                <td class="center"><b>70</b></td>
                                <td class="right"><b>10 110</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4">Prime Fixe</td>
                                <td class="right"><b>4 895</b></td>
                            </tr>
                            <tr class="border-b">
                                <td class="border-b" colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4"><b>Total Montant Hors Taxe</b></td>
                                <td class="right"><b>62 325</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4"><b>TVA (18%)</b></td>
                                <td class="right"><b>11 220</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4"><b>Total Facture Energie de la période TTC</b></td>
                                <td class="total-ttc right"><b>73 545</b></td>
                            </tr>
                            <tr class="border-b-primary">
                                <td class="border-b-primary" colspan="5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="invoice-details-sub-title">
                        <span>-</span>
                        <h3>Taxes et Redevances</h3>
                    </div>
                    <h3 class="right"> Montant <span>(FCFA)</span></h3>
                    <table>
                        <tbody>
                            <tr>
                                <td class="left" colspan="4"> Redevance Electrification Rurale</td>
                                <td class="right"><b>955</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4">Taxes rémunératoire pour l’Enlèvement des Ordures Ménagères
                                </td>
                                <td class="right"><b>2020</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4">Redevance RTI</td>
                                <td class="right"><b>2 000</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4">Frais de timbre (Si règlement en espèces)</td>
                                <td class="right"><b>100</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4"><b>Total Taxes et Redevances </b></td>
                                <td class="total-ttc right"><b>5 075</b></td>
                            </tr>
                            <tr class="border-t-primary">
                                <td class="border-t-primary" colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="left bg-primary" colspan="4"><b>Total Taxes et Redevances </b></td>
                                <td class="total-ttc right bg-primary"><b> 78 235</b></td>
                            </tr>
                            <tr>
                                <td colspan="5" class="small">
                                    Passée la date limite de paiement, il sera perçu <b>10%</b> du solde dû
                                    de cette facture
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="invoice-details-sub-title">
                        <span>-</span>
                        <h3>Avoirs et impayés antérieurs</h3>
                    </div>
                    <h3 class="right"> Montant <span>(FCFA)</span></h3>
                    <table>
                        <tbody>
                            <tr>
                                <td class="left" colspan="4">Total Avoirs</td>
                                <td class="right"><b>0</b></td>
                            </tr>
                            <tr>
                                <td class="left" colspan="4">Total Impayés antérieurs</td>
                                <td class="right"><b>0</b></td>
                            </tr>
                            <tr class="">
                                <td class="" colspan="5"></td>
                            </tr>
                            <tr>
                                <td class="total-ttc left bg-primary" colspan="4"><b>Montant à régler</b></td>
                                <td class="total-ttc right bg-primary"><b> 78 235</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="invoice-body-right">
                <div class="user-infos">
                    <div class="code-qr">
                        <img src="./code-qr.png" alt="Code QR" width="38px">
                    </div>
                    <h3>N’GUESSAN NGORAN ERNEST</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td><b>Agence</b></td>
                                <td class="left">2 PLATEAUX</td>
                            </tr>
                            <tr>
                                <td><b>Identifiant</b></td>
                                <td class="left">044113891000</td>
                            </tr>
                            <tr>
                                <td><b>Puissance souscrite</b></td>
                                <td class="left">15 A</td>
                            </tr>
                            <tr>
                                <td><b> Tarif</b></td>
                                <td class="left">Domestique général</td>
                            </tr>
                            <tr>
                                <td><b>Type de Branchement</b></td>
                                <td class="left">Monophasé</td>
                            </tr>
                            <tr>
                                <td><b>N° Compteur</b></td>
                                <td class="left">98361782736498</td>
                            </tr>
                            <tr>
                                <td><b>Référence</b></td>
                                <td class="left">0441138910002</td>
                            </tr>
                            <tr>
                                <td><b>Adresse</b></td>
                                <td class="left small">Ilot 85 Lot 853DOKUI SUD CDY/2 PLTX</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="full">
                <div class="title">
                    <h3>Consommation de la période</h3>
                </div>
                <div class="conso-container">
                    <div class="conso-value-content">
                        <div class="conso-value">
                            <span class="value">720</span>
                            <span class="unit">kWh</span>
                        </div>
                    </div>
                    <div class="conso-detail">
                        <div class="index">
                            <div class="index-a">
                                <span>Ancien Index</span>
                                <b>22 315</b>
                            </div>
                            <div class="index-n">
                                <span>Nouvel Index</span>
                                <b>23 043</b>
                            </div>
                        </div>
                        <div class="conso-periode">
                            <small>Conso même période année précédente</small>
                            <span>910 <em>kWh</em></span>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <h3>Contacts utiles</h3>
                </div>
                <table class="margin-t-10">
                    <tbody>
                        <tr>
                            <td><b>Agence en ligne</b></td>
                            <td class="left"><b>www.macieenligne.ci</b></td>
                        </tr>
                        <tr>
                            <td><b>Msg. Whatsapp</b></td>
                            <td class="left">
                                <div class="flex-items-center">
                                    <img src="./whatsapp.png" alt="Whatsapp" width="14px" />
                                    <b>01 50 17 91 79</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Appel</b></td>
                            <td class="left">
                                <div class="flex-items-center">
                                    <img src="./phone.png" alt="Whatsapp" width="14px" />
                                    <b>179</b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="astuce-container">
                    <div class="astuce-title">
                        <h3>Comment régler votre facture ?</h3>
                    </div>
                    <div class="astuce-content">
                        <ul>
                            <li><b>Macie en ligne</b> : www.macieenligne.ci</li>
                            <li><b>Par Mobile Money et nos partenaires bancaires</b></li>
                            <li><b>En espèces: </b>en agence ou dans nos points services</li>
                            <li><b>Par chèque: </b>à l’ordre de <b>Compagnie Ivoirienne d’Electricité</b></li>
                        </ul>
                    </div>
                </div>
                <div class="message-container">
                    <h3>Message au client</h3>
                    <div class="message">
                        <img src="./clement.png" alt="Whatsapp" width="40px" />
                    </div>
                </div>
            </div>
        </div>
        <hr class="full dashed">
        <div class="invoice-footer">
            <p class="invoice-footer-coupon">COUPON D’IDENTIFICATION à détacher et à joindre à votre paiement</p>
            <div class="invoice-footer-left-part">
                <div class="logo">
                    <img src="./logo.png" alt="Logo CIE" width="62px">
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <span></span><b>Agence</b>
                                </div>
                            </td>
                            <td>2 PLATEAUX</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <span></span><b>Identifiant</b>
                                </div>
                            </td>
                            <td>044113891000</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <span></span><b>N° Compteur</b>
                                </div>
                            </td>
                            <td>98361782736498</td>
                        </tr>
                    </tbody>
                </table>
                <div class="code-bar">
                    <img src="./code-bar.png" alt="Code Bar" height="33px">
                </div>
            </div>
            <div class="invoice-footer-center-part">
                <h3> Facture d’electricite basse tension n° 345</h3>
                <h5> Du <b>04/02/2024</b> Au <b>04/04/2024</b></h5>
                <div class="total-amount-container">
                    <span class="value"> 78 235<sup>FCFA</sup></span>
                    <div class="amount-text">
                        <label for="">Montant à régler</label>
                        <div class="amount-texts">
                            <label for="">DATE LIMITE</label>
                            <span class="deadline">27/05/2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-footer-right-part">
                <span>Facture émise le <b>08/04/2024</b></span>
                <img src="./code-qr.png" alt="Code QR" width="70px">
                <div class="code-bar">
                    <img src="./code-bar.png" alt="Code Bar" height="33px">
                </div>
            </div>
        </div>
    </div>

    <div class="page-break"></div>


    <div class="invoice-container">
        <div class="invoice-verso-header">
            <h4><b>COMPAGNIE IVOIRIENNE D'ELECTRICITE</b></h4>
            <h5> 01 B.P. 6923 ABIDJAN 01 - TEL. : 27.21.23.33.00 - FAX : 27.21.23.35.88 - SITE WEB : WWW.CIE.CI</h5>
            <h4 class="underline"><b>INFORMATIONS UTILES</b></h4>
        </div>
        <div class="invoice-verso-body">
            <div class="logo">
                <img src="./logo-dark.png" alt="Logo CIE" width="100px">
            </div>

            <div class="abreviation">
                <h4>I - EXPLICATION DES ABREVIATIONS ET/OU APPELLATIONS INSCRITES SUR VOTRE FACTURE</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <p><b>Puissance souscrite :</b></p>
                            </td>
                            <td>
                                <p>
                                    C'est la puissance souhaité lors de l'abonnement. Elle est exprimée en kVA.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Réglage du Disjoncteur :</b></p>
                            </td>
                            <td>
                                <p>
                                    Il correspond à la valeur du réglage de votre disjoncteur.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Consommation :</b></p>
                            </td>
                            <td>
                                <p>
                                    Cette zone correspond à la quantité d'énergie totale consommée entre les dates du
                                    début et de fin de période de consommation, la valeur est obtenue par
                                    la différence entre « le nouvel index » et « l’ancien index » lus sur le compteur
                                    multipliée par le coefficient de lecture du compteur. Elle est exprimée en kWh.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>C.C. Client :</b></p>
                            </td>
                            <td>
                                <p>
                                    C'est le numéro du compte contribuable du client.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Prime Fixe :</b></p>
                            </td>
                            <td>
                                <p>
                                    Le montant de la prime fixe est proportionnel au prix unitaire prime fixe, à la
                                    Puissance Souscrite et à la durée de consommation pour les tarifs 02, 03,17,18 et 19
                                    et au prix
                                    unitaire prime fixe et à la durée de consommation pour le tarif 01.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b>Contribution Électrification Rurale :</b></p>
                            </td>
                            <td>
                                <p>
                                    Le montant est proportionnel à l'énergie consommée majorée de 100 F dans le
                                    bimestre.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="taxe-communautaire">
                    <p>
                        <b>Taxe communautaire ou Taxe Rémunératoire pour enlèvement ordures ménagères :</b>
                        Le montant est proportionnel à l'énergie consommée et la localisation du client
                    </p>
                </div>
            </div>
            <div class="adress-container">
                <h4>II - OÙ VOUS ADRESSER</h4>
                <h5><b>À ABIDJAN :</b> si la zone d'Exploitation contient le code suivant :</h5>
                <table>
                    <thead>
                        <th>
                            <p>Secteur</p>
                        </th>
                        <th class="phone">
                            <p>Téléphone</p>
                        </th>
                        <th class="adress">
                            <p>Adressez-vous</p>
                        </th>
                        <th class="phone">
                            <p>Code</p>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>ABOBO CENTRE</p>
                            </td>
                            <td>
                                <p>27.21.23.65.80</p>
                            </td>
                            <td>
                                <p>Entre le marché et le rond-point de la voie express</p>
                            </td>
                            <td>
                                <p>221</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>ABOBO NORD</p>
                            </td>
                            <td>
                                <p> 27.22.01.71.01</p>
                            </td>
                            <td>
                                <p> Près de l'escadron de la Gendarmerie</p>
                            </td>
                            <td>
                                <p> 222</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> PLATEAU DOKUI</p>
                            </td>
                            <td>
                                <p> 27.21.01.69.07</p>
                            </td>
                            <td>
                                <p> Quartier Dokui, route du zoo près de la SODECI</p>
                            </td>
                            <td>
                                <p> 223</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>ANYAMA</p>
                            </td>
                            <td>
                                <p> 27.23.55.93.20</p>
                            </td>
                            <td>
                                <p> Pas loin de la Mairie d'Anyama</p>
                            </td>
                            <td>
                                <p> 224</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="bg-dark"></td>
                        </tr>
                        <tr>
                            <td>
                                <p> LOCODJRO</p>
                            </td>
                            <td>
                                <p>27.23.45.66.83</p>
                            </td>
                            <td>
                                <p> Quartier toit rouge, près de la brigade de GENDARMERIE</p>
                            </td>
                            <td>
                                <p> 031</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>NIANGON</p>
                            </td>
                            <td>
                                <p>27.21.23.62.14</p>
                            </td>
                            <td>
                                <p>Près de la Cité EECI</p>
                            </td>
                            <td>
                                <p> 032</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>YOPOUGON-ATTIE</p>
                            </td>
                            <td>
                                <p>27.21.23.66.80</p>
                            </td>
                            <td>
                                <p>Près de la Pharmacie KENEYA, près de la Station de Service</p>
                            </td>
                            <td>
                                <p> 033</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>LOKOA</p>
                            </td>
                            <td>
                                <p> 27.23.46.10.18</p>
                            </td>
                            <td>
                                <p> Niangon Nord à droite, terminus Bus</p>
                            </td>
                            <td>
                                <p> 034</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="bg-dark"></td>
                        </tr>
                        <tr>
                            <td>
                                <p> ADJAME NORD</p>
                            </td>
                            <td>
                                <p> 27.21.23.65.66</p>
                            </td>
                            <td>
                                <p> 220 Logements - Liberté</p>
                            </td>
                            <td>
                                <p> 041</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> ADJAME SUD</p>
                            </td>
                            <td>
                                <p> 27.21.23.65.28</p>
                            </td>
                            <td>
                                <p> Boulevard carde, face au terminus des bus CCIA</p>
                            </td>
                            <td>
                                <p> 042</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> COCODY</p>
                            </td>
                            <td>
                                <p> 27.21.23.65.30</p>
                            </td>
                            <td>
                                <p>Boulevard Latrille, près du château d'eau de la SODECI</p>
                            </td>
                            <td>
                                <p> 043</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> 2 PLATEAUX</p>
                            </td>
                            <td>
                                <p> 27.21.23.69.44</p>
                            </td>
                            <td>
                                <p> Aghien, face à la Mosquée</p>
                            </td>
                            <td>
                                <p> 044</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> DJIBI</p>
                            </td>
                            <td>
                                <p> 27.21.23.66.75</p>
                            </td>
                            <td>
                                <p> 8ème Tranche, près de la CNPS</p>
                            </td>
                            <td>
                                <p> 045</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> BINGERVILLE</p>
                            </td>
                            <td>
                                <p> 27.22.40.65.89</p>
                            </td>
                            <td>
                                <p> Face au Collège Moderne de Bingerville</p>
                            </td>
                            <td>
                                <p> 046</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="bg-dark"></td>
                        </tr>
                        <tr>
                            <td>
                                <p> KOUMASSI</p>
                            </td>
                            <td>
                                <p> 27.21.36.30.83</p>
                            </td>
                            <td>
                                <p>Près du camp Commando</p>
                            </td>
                            <td>
                                <p> 021</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> MARCORY</p>
                            </td>
                            <td>
                                <p> 27.21.23.36.17</p>
                            </td>
                            <td>
                                <p> Rue Chevalier de Clieu, après le Grand Carrefour de Marcory</p>
                            </td>
                            <td>
                                <p> 022</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> PORT-BOUET</p>
                            </td>
                            <td>
                                <p> 27.21.27.53.00</p>
                            </td>
                            <td>
                                <p> Vridi, Face à l’Ecole Primaire EECI</p>
                            </td>
                            <td>
                                <p> 023</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>TREICHVILLE</p>
                            </td>
                            <td>
                                <p> 27.21.23.64.22</p>
                            </td>
                            <td>
                                <p> Boulevard de Marseille, face TECHNIBAT</p>
                            </td>
                            <td>
                                <p> 024</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5><b>À L’INTERIEUR DU PAYS</b></h5>
                <table>
                    <thead>
                        <th>
                            <p>DIRECTIONS RÉGIONALES</p>
                        </th>
                        <th class="city">
                            <p>Villes</p>
                        </th>
                        <th class="phone">
                            <p>Téléphone</p>
                        </th>
                        <th class="adress">
                            <p>SITUATION GÉOGRAPHIQUE</p>
                        </th>
                        <th class="phone">
                            <p>Code</p>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>EST</p>
                            </td>
                            <td>
                                <p>Abengourou</p>
                            </td>
                            <td>
                                <p> 27.35.91.30.93</p>
                            </td>
                            <td>
                                <p> Près de la BCEAO et voisin de l'Inspection</p>
                            </td>
                            <td>
                                <p>211</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> SUD OUEST</p>
                            </td>
                            <td>
                                <p>Gagnoa</p>
                            </td>
                            <td>
                                <p> 27.32.77.20.13</p>
                            </td>
                            <td>
                                <p> En face de la SODECI et de la Préfecture</p>
                            </td>
                            <td>
                                <p> 231</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>BASSE CÔTE</p>
                            </td>
                            <td>
                                <p> Dabou</p>
                            </td>
                            <td>
                                <p> 27.22.40.65.72</p>
                            </td>
                            <td>
                                <p> Quartier SOS près de la résidence du préfet</p>
                            </td>
                            <td>
                                <p> 245</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>BASSE CÔTE</p>
                            </td>
                            <td>
                                <p> Dabou</p>
                            </td>
                            <td>
                                <p> 27.22.40.65.72</p>
                            </td>
                            <td>
                                <p> Quartier SOS près de la résidence du préfet</p>
                            </td>
                            <td>
                                <p> 245</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> SUD EST</p>
                            </td>
                            <td>
                                <p> Aboisso</p>
                            </td>
                            <td>
                                <p> 27.23.53.60.38</p>
                            </td>
                            <td>
                                <p> Quartier SOS près de la résidence du préfet</p>
                            </td>
                            <td>
                                <p> 251</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> LITTORAL OUEST</p>
                            </td>
                            <td>
                                <p> San Pedro</p>
                            </td>
                            <td>
                                <p> 27.23.53.60.16</p>
                            </td>
                            <td>
                                <p> Zone industrielle près du rond-point de la cité</p>
                            </td>
                            <td>
                                <p> 261</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> CENTRE</p>
                            </td>
                            <td>
                                <p> Bouaké OUEST</p>
                            </td>
                            <td>
                                <p> 27.31.63.30.36</p>
                            </td>
                            <td>
                                <p> Au commerce en face de l’Eglise Universelle</p>
                            </td>
                            <td>
                                <p> 418</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> CENTRE OUEST</p>
                            </td>
                            <td>
                                <p> Daloa</p>
                            </td>
                            <td>
                                <p> 27.32.78.36.73</p>
                            </td>
                            <td>
                                <p> Vers le monument aux morts</p>
                            </td>
                            <td>
                                <p> 421</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> NORD</p>
                            </td>
                            <td>
                                <p>Korhogo</p>
                            </td>
                            <td>
                                <p> 27.22.40.65.63</p>
                            </td>
                            <td>
                                <p> Vers hôtel mont Korhogo, à côté du marché</p>
                            </td>
                            <td>
                                <p> 431</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> OUEST</p>
                            </td>
                            <td>
                                <p>Man</p>
                            </td>
                            <td>
                                <p> 27.33.79.05.05</p>
                            </td>
                            <td>
                                <p> Derrière la BCEAO, près de l'Agence Orange</p>
                            </td>
                            <td>
                                <p> 441</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> CENTRE SUD</p>
                            </td>
                            <td>
                                <p>Yamoussoukro</p>
                            </td>
                            <td>
                                <p> 27.30.64.06.48</p>
                            </td>
                            <td>
                                <p> Près de la Poste, sur le même alignement</p>
                            </td>
                            <td>
                                <p> 451</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> CENTRE SUD</p>
                            </td>
                            <td>
                                <p>Dimbokro</p>
                            </td>
                            <td>
                                <p> 27.23.53.60.72</p>
                            </td>
                            <td>
                                <p> Derrière la mairie de Dimbokro</p>
                            </td>
                            <td>
                                <p> 452</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="possibility-container">
                <h4>III - PLUSIEURS POSSIBILITÉS DE REGLEMENT VOUS SONT OFFERTES</h4>
                <h5 class="margin-t-5">1. RÈGLEMENT CHEZ NOS PARTENAIRES BANCAIRES ET MOBILE MONEY </h5>
                <p>
                    Pour utiliser les canaux des partenaires, il faut connaître les neuf (9) premièrs chiffres de
                    son
                    identifiant et disposer de son règlement (espèces ou monnaie électronique ). Suivre les
                    instructions
                    du parcours client spécifique à
                    chaque canal de règlement. Le reçu électronique (sms) délivré est valable pour CIE.
                </p>
                <h5>2. RÈGLEMENT À NOS CAISSES</h5>
                <p>
                    Présentez à la caisse de la CIE la facture et son coupon ainsi que votre règlement (chèque ou
                    espèces). Le caissier conservera le coupon et vous rendra la facture
                    accompagnée d'un reçu de paiement. Ce reçu de paiement est la preuve d'un règlement de votre
                    facture
                    : il est à conserver.
                </p>
                <h5>3. BOÎTES À CHÈQUES</h5>
                <p>
                    Tous les abonnés peuvent éviter les files d'attente en déposant leurs chèques dans les boîtes à
                    chèques ouvertes 24h/24. Vous pouvez payer par chèque quelque soit le montant de votre facture.
                    NB : Tous les abonnés peuvent payer leur facture dans le SECTEUR de leur choix, avant la date
                    limite
                    de paiement, quelque soit leur lieu d'habitation.
                </p>
            </div>
            <div class="possibility-container">
                <h4>IV - LE CENTRE DE RELATION CLIENT</h4>
                <p>
                    Pour toute information, réclamation, dépannage appelez le 179 : ouvert 24H/24.
                </p>
            </div>
        </div>
        <hr class="full dashed">
        <div class="invoice-verso-footer">
            <div class="verso-footer">
                <h5>
                    Pour toute information, réclamation, dépannage, appelez le 179;
                    Ouvert 24H/24
                </h5>
            </div>
        </div>
    </div>

</body>

</html>